<header>
    <nav>
        <ul id="menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Adopta</a>
                <ul>
                    <li><a href="#">Gatos<i class="fa-solid fa-cat"></i></a></li>

                    <li><a href="#">Perros<i class="fa-solid fa-dog"></i></a></li>
                    <li><a href="#">Otros animales<i class="fa-solid fa-paw"></i></a></li>
                </ul>
            </li>
            <li><a href="#">Ayúdanos</a></li>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <div id="logo">
      <h1>PetFinder</h1>
    <br>
    <h4>Protectora de animales 🐾</h4>   
    </div>
   
</header>
