<header>
    <div id="logo">
        <h1>PetFinder</h1>
        <h4>Protectora de animales 🐾</h4>
    </div>
    <nav>
        <ul id="menu">
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Adopta</a>
                <ul class="lista-desplegable">
                    <li><a href="#">Sobre la adopción</a></li>
                    <li><a [routerLink]="['adopta-gatos']">Gatos<i class="fa-solid fa-cat"></i></a></li>
                    <li><a href="../adopta-perros/">Perros<i class="fa-solid fa-dog"></i></a></li>
                    <li><a href="#">Otros animales<i class="fa-solid fa-paw"></i></a></li>
                </ul>
            </li>
            <li><a href="#">Cómo Ayudar</a>
                <ul class="lista-desplegable">
                    <li><a href="#">Casa de Acogida</a></li>
                    <li><a href="#">Hazte voluntario</a></li>
                    <li><a href="#">Hazte socio</a></li>
                    <li><a href="#">Apadrina</a></li>
                    <li><a href="#">Haz una donación</a></li>
                </ul>
            </li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>

</header>