header>nav>ul{
      font-family: Helvetica;
      position:absolute;
      right: 0;
      width: 800px;
      margin-right: 10px;
      display: inline-block;
  }
  
  ul{
      list-style: none;
      text-align: right;
  }
  #menu li>a{
      background-color: whitesmoke;
      color: cadetblue; 
      padding: 10px;
      display: block;
      text-decoration: none;
      font-family:  'Lobster', cursive;
      font-weight: bold;
      font-size: 25px;
      border-radius: 5px;
  }
  #menu li>a:hover{
    color:whitesmoke;
    background-color: cadetblue;
    }
  #menu>li{
      display: inline-block;
      margin-right: 5px;
    }
  #menu>li>ul{
      display: none;
      position: absolute;
      text-align: left;
      padding-left: 0;
    }
  #menu>li:hover>ul {
      display:block;
    }
  #menu>li>ul>li{
    margin-bottom: 2px;
  }
  #logo>h1{
    font-size: 40px;
    color:#f0edbb;
    font-family:  'Lobster', cursive;
    display: inline-block;
    margin: 0;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 10px;
  }
  #logo>h4{
      display: inline-block;
      margin: 0;
      color: #dee3d5;
      background-color: cadetblue;
      font-style: italic;
      border-radius: 2px;
      margin-left: 10px;
  }