  .descripcion{
    text-align: justify;
    margin: 10px 40px 0 40px;
    font-size: 18px;
  }

  .donacion{
    font-size: 25px;
    color: #5b97a3;
    font-weight:bold;
    margin-top: 20px;
  }

  .icono{
      color: whitesmoke;
      margin-left: 5px;
  }