@import '../../assets/css/colors.scss';

.descripcion {
  text-align: justify;
  margin: 10px 40px 0 40px;
  font-size: 18px;
}

.donacion {
  font-size: 25px;
  color: #5b97a3;
  font-weight: bold;
  margin-top: 20px;
}

.icono {
  color: $blue;
  margin-left: 5px;
}

.button-main.page{
  border-radius: 5px;
  padding: 15px 40px 16px 40px;
  font-size: larger;
  background-color: #353030;
  color:$white; 
  border: none;
}
