<h1>Protectora de animales PetFinder - Adopción de animales en Madrid</h1>
<h2>Adopta animales en Madrid<i class="fa-solid fa-paw icono"></i></h2>
<p class="descripcion">Somos una asociación que cuida animales y busca las familias adoptantes para nuestras mascotas
  que desean encontrar una casa donde les pueden dar mucho cariño, amor y una vida llena de felicidad.
</p>
<p class="descripcion">Todo el dinero donado a nuestra asociacion se destina al cuidado y rehabilitacion de nuestros animales.
  Todos los dias hacemos todo lo posible para que se sienten como en casa, pero sin duda cada uno de ellos
  ya te esta esperando para ser parte de tu vida. 
</p>
<p class="descripcion">Si llevas mucho tiempo pensando en adopcion pero no sabes por donde empezar solo contacta con nosotros 
  y nuestro equipo te ayudara con cada paso.
</p>
 <div class="donacion">Si quieres ayudarnos con una donacion:
   <br>
   Aqui son datos del banco y numero de la cuenta 
 </div>